p{
    color:red;
    font-size: 18pt;
}

#p1{
    background-color: aqua;
}

#p2{
  background-color: yellow;

}
  
.pb{
    color: white;
    background-color: black;
}


a:houver{
 background-color: pink

}


  

